body{
	background-color:grey;
	opacity: 2.0;

}
.how{
	font-style: Courier;
	text-align: center;
	padding: 20px 30px;
	margin:20px 30px;
	color:blue;
	text-decoration: underline;
	text-transform: uppercase;
	float: left;


}
.coat{
	border: 100px;
	margin: 20px 30px;

}
h3{
	text-decoration: underline;
	font-size: 20px;
	text-transform: uppercase;
	font-style: verdana;

.all{
	text-decoration: underline;
}
